<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个对应的Dao/Map接口-->
<mapper namespace="com.searchengine.dao.StatisticDao">

    <insert id="put">
        insert into statistic_history(key,value) values(#{key},#{value})
    </insert>
    <update id="addOneUserCount">
        update statistic_history set value=value+1 where key=user_count
    </update>

    <update id="addOneTotalClick">
        update statistic_history set value=value+1 where key=total_click
    </update>
    <update id="addOneTodayClick">
        update statistic_history set value=value+1 where key=#{key}
    </update>
    <select id="getRecordByKey" resultType="com.searchengine.entity.StatisticHistory" >
        select * from statistic_history where key=#{key}
    </select>
</mapper>